.form-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 600px;
    box-sizing: border-box;

    border: 1px solid #95A0A7;
}

.form-title {
    font-size: 35px;
    color: #2A414F;
    font-weight: 400;

}